<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Showcontacts!!</title>
	</head>
	<body>
<li> <h4> Name: <%=@contact.first_name%> <%=@contact.last_name %> </h4> <b> Email:</b> <%=@contact.email %> <b>  Note: </b> <%=@contact.note %>  </l
</body>
</html>


<!-- complete show_contact.erb using @contact to display all the attributes of this contact.
 As always, you should be thinking about what semantic HTML markup to use when doing this.

Once you can go to localhost:4567/contacts/1 and see contact 1
(or whatever ids currently exist in your database - you might not have a contact with id 1 at this point),
 you've succeeded!
Don't forget to make a celebratory commit. --->
