<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Showcontacts!!</title>
	</head>
	<body>
<li> <h4> Name: <%=@contact.first_name%> <%=@contact.last_name %> </h4> <b> Email:</b> <%=@contact.email %> <b>  Note: </b> <%=@contact.note %>  </l
</body>
</html>
